<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8" />
  <!-- https://developer.mozilla.org/en-US/docs/Web/HTTP/CSP -->
  <!-- <meta http-equiv="Content-Security-Policy" content="default-src 'self'; script-src 'self'" /> -->
  <title>快乐拷贝</title>
  <link rel="stylesheet" href="./static/css/tailwind.min.css">
  <link rel="stylesheet" href="./static/element-ui/index.css">
</head>

<body>
  <div id="app" class="p-4">
    <div class="list">
      <div v-for="item in list" :key="item.label" class="item flex justify-between mb-2 cursor-pointer rounded-sm p-2"
        :class="{'bg-green-300': selected == item.label, 'hover:bg-green-100': selected != item.label}"
        @click="selected = (selected == item.label ?  '' : item.label)">
        <div>{{item.label}}: {{item.value}}</div>
      </div>
      <div v-if="!list.length" class="text-sm">啥也没有，点击左上角“标签-新建”可创建标签。</div>
    </div>
    <el-dialog title="新建标签" :visible.sync="newMenuDialog" :close-on-click-modal="false">
      <el-form :model="newMenu">
        <el-form-item label="标签名称" :label-width="300">
          <el-input v-model="newMenu.label" autocomplete="off"></el-input>
        </el-form-item>
        <el-form-item label="标签值" :label-width="300">
          <el-input v-model="newMenu.value" autocomplete="off"></el-input>
        </el-form-item>
      </el-form>
      <div slot="footer" class="dialog-footer">
        <el-button @click="newMenuDialog = false">取 消</el-button>
        <el-button type="success" @click="addTrayMenu">确 定</el-button>
      </div>
    </el-dialog>
    <el-dialog title="关于" :visible.sync="aboutDialog" :close-on-click-modal="false">
      <div>
        <h1 class="text-center text-lg font-bold mb-3">happy-copy</h1>
        <p>描述：帮助你快速复制一段内容到剪切板</p>
        <p>版本：v1.1.2</p>
        <p>参与者：奥利会，山楂</p>
        <p>项目地址：https://gitee.com/enobj/happy-copy</p>
      </div>
    </el-dialog>
  </div>
  <script src="./static/js/vue@2.js"></script>
  <script src="./static/element-ui/index.js"></script>
  <script src="./renderer.js"></script>
</body>

</html>