<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8" />
  <!-- https://developer.mozilla.org/en-US/docs/Web/HTTP/CSP -->
  <!-- <meta http-equiv="Content-Security-Policy" content="default-src 'self'; script-src 'self'" /> -->
  <title>录入新标签</title>
  <link rel="stylesheet" href="./tailwind.min.css">
  <link rel="stylesheet" href="./element-ui/index.css">
</head>

<body>
  <div id="app" class="p-4">
    <div class="new-menu flex gap-4">
      <el-input type="text" v-model="newMenu.label" placeholder="请输入标签名称"></el-input>
      <el-input type="text" v-model="newMenu.value" placeholder="请输入文本"></el-input>
      <el-button @click="addTrayMenu" type="primary">确定</el-button>
    </div>
    <div class="list mt-4">
      <div class="item flex justify-between mb-2" v-for="item in list" :key="item.label">
        <div>{{item.label}}: {{item.value}}</div>
        <div><el-button @click="deleteTrayMenu(item.label)" type="danger">删除</el-button></div>
      </div>
    </div>
  </div>
  <script src="./vue@2.js"></script>
  <script src="./element-ui/index.js"></script>
  <script src="./renderer.js"></script>
</body>

</html>